<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- Style Path!!!-->
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <link rel="stylesheet" href="reset.css">
  <link rel="stylesheet" href="classes.css">
  <title>Document</title>
</head>

<body>
  <div class="global-wrap">
    <div class="section-wrap">
      <section class="blocks classes-block">
        <div class="classes-block-wrap">
          <h1 class="classes-block-header main-header-size">Класи</h1>
          <div class="class-item-wrap">
            <div class="class-item">
              <a href="#" class="class-item-link">1</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">2</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">3</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">4</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">5</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">6</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">7</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">8</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">9</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">10</a>
            </div>
            <div class="class-item">
              <a href="#" class="class-item-link">11</a>
            </div>
          </div>
        </div>
      </section>
    </div>
    
  </div>
</body>

</html>